<div class="row">
	<div class="col zblue">
		<a class="btn btn-large btn-block text-white" routerLink="/wallet/send"><h3 class="noMargin">Send</h3></a>
	</div>
</div>

<div class="row mt-5">
	<div class="col text-center">
		<h4>Address</h4>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<p class="breakword">0x{{wallet.address | uppercase}}</p>
	</div>
</div>
<div class="row mt-2">
	<div class="col text-center">
		<h4>Balance:</h4>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<p><span>{{wallet.balance}}</span> ZIL</p>
	</div>
</div>
<div class="row mt-2">
	<div class="col text-center">
		<h4>Private Key&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn zil-btn" (click)="revealPrivateKey()">{{revealBtn}}</a></h4>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<p class="breakword">{{ privateKeyDisplay | uppercase }}</p>
	</div>
</div>
<div class="row mt-2">
	<div class="col text-center">
		<h4>Download JSON Keyfile (Encrypted with Passphrase):</h4> 
	</div>
</div>
<div class="row mt-1">
	<div class="col text-center">
		<span class="input">
			<input [(ngModel)]="walletEncryptPassphrase" type="password" id="input-zilencrypt" class="input__field input__field--madoka" placeholder="Enter passphrase (min 8 characters)">
			<label class="input__label input__label--madoka" for="input-zilencrypt">
				<svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
					<path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
				</svg>
			</label>
		</span>
		<button class="btn btn-large zil-btn cursorHand align-bottom mt-2" 
			[disabled]="!validPassphrase()" 
			(click)="downloadWallet()">Download
		</button>
	</div>
	<div *ngIf="loading == true" class="loadingOverlay"></div>
</div>
