<div class="row">
	<div class="col zblue">
		<a class="btn btn-large btn-block text-white" routerLink="/wallet/send"><h3 class="noMargin">Send</h3></a>
	</div>
</div>

<div class="row mt-5">
	<div class="col text-center">
		<h4>Address</h4>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<p>{{wallet.address}}</p>
	</div>
</div>
<div class="row mt-2">
	<div class="col text-center">
		<h4>Balance:</h4>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<p><span>{{wallet.balance}}</span> ZIL</p>
	</div>
</div>
<div class="row mt-2">
	<div class="col text-center">
		<h4>Private Key&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn zil-btn" (click)="revealPrivateKey()">{{revealBtn}}</a></h4>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<p><span>{{ privateKeyDisplay }}</span></p>
	</div>
</div>
<div class="row mt-2">
	<div class="col text-center">
		<h4>Download JSON Keyfile (Encrypted with Passphrase):</h4> 
		<input [(ngModel)]="walletEncryptPassphrase" 
			type="password" 
			placeholder="Enter passphrase (min 8 characters)"
			style="min-width: 300px;" >&nbsp;&nbsp;
		<button class="btn btn-large zil-btn cursorHand" 
				[disabled]="!validPassphrase()" 
				(click)="downloadWallet()">Download
		</button>
		<div *ngIf="loading == true" class="loadingOverlay"></div>
	</div>
</div>
