.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field::placeholder {
	color: #49c1bf;
	text-align: center;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Individual styles */

/* Madoka */
.input__field--madoka {
	width: 100%;
	background: transparent;
	color: #49c1bf;
}

.input__label--madoka {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #49c1bf;
	text-align: left;
	cursor: text;
}

.input__label-content--madoka {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.graphic--madoka {
	-webkit-transform: scale3d(1, -1, 1);
	transform: scale3d(1, -1, 1);
	-webkit-transition: stroke-dashoffset 0.3s;
	transition: stroke-dashoffset 0.3s;
	pointer-events: none;

	stroke: #49c1bf;
	stroke-width: 4px;
	stroke-dasharray: 962;
	stroke-dashoffset: 558;
}

.input__field--madoka:focus + .input__label--madoka,
.input--filled .input__label--madoka {
	cursor: default;
	pointer-events: none;
}

.input__field--madoka:focus + .input__label--madoka .graphic--madoka,
.input--filled .graphic--madoka {
	stroke-dashoffset: 0;
}

.input__field--madoka:focus + .input__label--madoka .input__label-content--madoka,
.input--filled .input__label-content--madoka {
	-webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
	transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
}


/* Common styles for all menus */
.menu {
	line-height: 1;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Miranda */
.menu--miranda .menu__item {
	position: relative;
	margin: 0.4em;
}

.menu--miranda .menu__link {
	position: relative;
	display: block;
	min-width: 120px;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--miranda .menu__link:hover,
.menu--miranda .menu__link:focus {
	text-decoration: none;
	color: #5d5d5d;
}

.menu--miranda .menu__item:hover .menu__link {
	color: #49c1bf;
}

.menu--miranda .menu__item::before,
.menu--miranda .menu__item::after,
.menu--miranda .menu__link::before,
.menu--miranda .menu__link::after {
	content: '';
	position: absolute;
	background: #49c1bf;
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
	-webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
	transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

/* left and right line */
.menu--miranda .menu__item::before,
.menu--miranda .menu__item::after {
	top: 0;
	width: 2px;
	height: 100%;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
}

/* left line */
.menu--miranda .menu__item::before {
	left: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

/* right line */
.menu--miranda .menu__item::after {
	right: 0;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

/* top and bottom line */
.menu--miranda .menu__link::before,
.menu--miranda .menu__link::after {
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

/* top line */
.menu--miranda .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

/* bottom line */
.menu--miranda .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

/* Delays (first reverse, then current) */

/* These rules can be simplified, but let's keep it for better readability */

/* bottom line */
.menu--miranda .menu__item .menu__link::after {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu--miranda .menu__item:hover .menu__link::after {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

/* left line */
.menu--miranda .menu__item::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu--miranda .menu__item:hover::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

/* top line */
.menu--miranda .menu__item .menu__link::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu--miranda .menu__item:hover .menu__link::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/* right line */
.menu--miranda .menu__item:hover::after {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu--miranda .menu__item:hover::before,
.menu--miranda .menu__item:hover::after,
.menu--miranda .menu__item:hover .menu__link::before,
.menu--miranda .menu__item:hover .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
