<div class="row">
  <div class="col zblue text-white">
		<h2 class="text-center">Create Wallet</h2>
  </div>
</div>

<!-- default view -->
<div *ngIf="state == 0">
	<div class="row mt-5">
		<div class="col text-center">
			<a class="btn btn-large zil-btn" (click)="setState(1)"><i class="fa fa-plus"></i>&nbsp;Create New Wallet</a>
			<a class="btn btn-large zil-btn" (click)="setState(3)"><i class="fa fa-upload"></i>&nbsp;Access Existing Wallet</a>
		</div>
	</div>
</div>


<!-- create wallet flow #1 -->
<!-- enter key view -->
<div *ngIf="state == 1">
	<div class="row mt-5">
		<div class="col text-center">
			<a class="btn zil-btn" (click)="generateWallet()">Click to Generate Address</a>
		</div>
	</div>
</div>


<!-- create wallet flow #2 -->
<!-- display generated wallet view -->
<div *ngIf="state == 2">
	<div class="row mt-5">
		<div class="col text-center">
			<h4>Your Public Address: {{wallet.address}}</h4>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col text-center">
			<h4>Your private key (save this somewhere safe): {{generatedPrivateKey}}</h4>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col text-center">
			<a class="btn zil-btn" routerLink="/wallet/base">Continue</a>
		</div>
	</div>
</div>


<!-- import wallet flow #1 -->
<div *ngIf="state == 3">
	<div class="row mt-5">
		<div class="col text-center">
			<a class="btn zil-btn" (click)="setState(4)">Import JSON</a>
			<a class="btn zil-btn" (click)="setState(5)">Enter Private Key</a>
		</div>
	</div>
</div>



<!-- import wallet flow #2 -->
<!-- import JSON option -->
<div *ngIf="state == 4">
	<div class="row mt-5">
		<div class="col-md-2 ml-auto">
			<span class="btn zil-btn btn-file cursorHand">Upload wallet file (.json)
				<input type="file" id="walletFile" (change)="selectWallet($event.target.files)" />
			</span>
		</div>
		<div class="col-md-3 mr-auto">
			<input type="text" class="form-control zil-btn" disabled="" [(ngModel)]="walletFilename" readonly="">
		</div>
	</div>
	<div class="row mt-5">
		<div class="col text-center">
			<label class="align-bottom">Enter passphrase to decrypt JSON wallet: </label>
			<span class="input">
				<input [(ngModel)]="walletDecryptKey" type="password" id="input-walletdecrypt" class="input__field input__field--madoka">
				<label class="input__label input__label--madoka" for="input-walletdecrypt">
					<svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
						<path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
					</svg>
				</label>
			</span>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col text-center">
			<a class="btn zil-btn" (click)="decryptWallet()">Decrypt</a>
		</div>
	</div>
	<div *ngIf="loading == true" class="loadingOverlay"></div>
</div>



<!-- import wallet flow #3 -->
<!-- enter passphrase option -->
<div *ngIf="state == 5">

	<div class="row mt-5" *ngIf="invalidPrivateKey()">
		<div class="col-md-6 ml-auto mr-auto">
			<div class="alert alert-warning" role="alert">
				<strong>Error!</strong> The private key must be a hexadecimal string of 64 characters.
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col text-center">
			<label class="align-bottom">Enter private key here: </label>
			<span class="input">
				<input [(ngModel)]="importPrivateKey" type="text" spellcheck="false" id="input-pk" class="input__field input__field--madoka">
				<label class="input__label input__label--madoka" for="input-pk">
					<svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
						<path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
					</svg>
				</label>
			</span>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col text-center">
			<button class="btn zil-btn cursorHand" (click)="importWallet()" [disabled]="invalidImportBtn()">Import</button>
		</div>
	</div>
</div>



<!-- import wallet flow #4 -->
<!-- successfully imported wallet -->
<div *ngIf="state == 6">
	<div class="row mt-5">
		<div class="col text-center">
			<h4>Successfully imported wallet!</h4>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col text-center">
			<a class="btn zil-btn" routerLink="/wallet/base">Continue</a>
		</div>
	</div>
</div>


<!-- import wallet flow #5 -->
<!-- invalid imported wallet -->
<div *ngIf="state == 7">
	<div class="row mt-5">
		<div class="col text-center">
			<h4>Sorry, this wallet does not exist.</h4>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col text-center">
			<a class="btn zil-btn" (click)="setState(0)">Back</a>
		</div>
	</div>
</div>


<!-- import wallet flow #6 -->
<!-- incorrect passphrase for json wallet -->
<div *ngIf="state == 8">
	<div class="row mt-5">
		<div class="col text-center">
			<h4>Sorry, the passphrase is incorrect.</h4>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col text-center">
			<a class="btn zil-btn" (click)="setState(0)">Back</a>
		</div>
	</div>
</div>


<!-- import wallet flow #7 -->
<!-- incorrect passphrase for json wallet -->
<div *ngIf="state == 9">
	<div class="row mt-5">
		<div class="col text-center">
			<h4>Sorry, the uploaded wallet is invalid. Please check your wallet file.</h4>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col text-center">
			<a class="btn zil-btn" (click)="setState(0)">Back</a>
		</div>
	</div>
</div>

<!-- import wallet flow #7 -->
<!-- no network connectivity -->
<div *ngIf="state == 10">
	<div class="row mt-5">
		<div class="col text-center">
			<h4>Sorry, the wallet cannot connect to the network.</h4>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col text-center">
			<a class="btn zil-btn" (click)="setState(0)">Back</a>
		</div>
	</div>
</div>
