.homeBody {
  background-color: #3B3C3E;
  color: #6FBDBA;
  padding-bottom: 50px;
  overflow: scroll;
  height: 100%;
  min-height: calc(100vh - 76px);
  position: relative;
}
@media (max-width: 1024px) {
  .homeBody {
    padding-bottom: 150px;
  }
}
.zblue {
	background-color: #49c1bf;
}
.zil-btn {
  background-color: transparent;
  color: #49c1bf;
  border: 1px solid #49c1bf;
}
.zil-btn:hover:not([disabled]) {
  background-color: rgba(73, 193, 191, 0.4);
  color: #73e6e5 !important;
  border: 1px solid #49c1bf;
}
.light-gray {
	background-color: #dedede;
}
a {
	cursor: pointer;
}
.input-group-addon {
  background-color: transparent;
  border: 1px solid #49c1bf;
  color: #49c1bf;
}
.navbar-logo {
	height: 50px;
	width: 50px;
}
.cursorHand {
  cursor: pointer;
}
#navbarSupportedContent {
  justify-content: space-between;
}
.stats-icon {
	font-size: 30px; 
	line-height: 45px;
}
.network-bar {
  position: fixed;
  top: 0px;
  left: 25%;
  width: 50%;
  z-index: 1100;
  text-align: center;
}
.network-bar-text {
  color: white;
}
.red-disconnected {
  background-color: #bdbd00;
}
.green-connected {
  background-color: green;
}
table a{
  color: #6FBDBA;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #bdbd00;
}
.noMargin {
  margin-bottom: 0;
}
.alert-warning {
    background-color: transparent;
    border-color: #bdbd00;
    color: #6FBDBA;
}
.scrollable {
  overflow-x: scroll;
}
.footer-row {
  justify-content: space-between; 
  font-size: 22px;
}
@media (max-width: 1024px) {
  .footer-row {
    font-size: 1rem;
  }
}
.footer-row a {
  text-decoration: none;
  color: black;
}
.fixed-bottom {
  position: sticky;
}
.fixed-top {
  position: sticky;
}

/* Absolute Center Spinner */
.loadingOverlay {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loadingOverlay:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loadingOverlay:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loadingOverlay:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(73, 193, 191, 1) 1.5em 0 0 0, rgba(73, 193, 191, 1) 1.1em 1.1em 0 0, rgba(73, 193, 191, 1) 0 1.5em 0 0, rgba(73, 193, 191, 1) -1.1em 1.1em 0 0, rgba(73, 193, 191, 1) -1.5em 0 0 0, rgba(73, 193, 191, 1) -1.1em -1.1em 0 0, rgba(73, 193, 191, 1) 0 -1.5em 0 0, rgba(73, 193, 191, 1) 1.1em -1.1em 0 0;
  box-shadow: rgba(73, 193, 191, 1) 1.5em 0 0 0, rgba(73, 193, 191, 1) 1.1em 1.1em 0 0, rgba(73, 193, 191, 1) 0 1.5em 0 0, rgba(73, 193, 191, 1) -1.1em 1.1em 0 0, rgba(73, 193, 191, 1) -1.5em 0 0 0, rgba(73, 193, 191, 1) -1.1em -1.1em 0 0, rgba(73, 193, 191, 1) 0 -1.5em 0 0, rgba(73, 193, 191, 1) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
