<div class="row">
	<div class="col zblue">
		<a class="btn btn-large btn-block text-white" routerLink="/wallet/base"><h3 class="noMargin">Account</h3></a>
	</div>
</div>

<!-- send transaction flow #1 -->
<div *ngIf="state == 0">
	<div class="row mt-5">
		<div class="col ml-auto mr-auto text-center">
			<h4>Send Tokens</h4>
		</div>
	</div>

	<div class="row mt-2" *ngIf="invalidAddress()">
		<div class="col-md-6 ml-auto mr-auto">
			<div class="alert alert-warning" role="alert">
				<strong>Error!</strong> The address must be a hexadecimal string of 40 characters.
			</div>
		</div>
	</div>

	<div class="row mt-2" *ngIf="invalidAmount()">
		<div class="col-md-6 ml-auto mr-auto">
			<div class="alert alert-warning" role="alert">
				<strong>Error!</strong> The amount must be positive and less than your wallet balance.
			</div>
		</div>
	</div>

	<div class="row mt-2" *ngIf="invalidGas()">
		<div class="col-md-6 ml-auto mr-auto">
			<div class="alert alert-warning" role="alert">
				<strong>Error!</strong> The gas must be positive and less than your wallet balance.
			</div>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col text-center">
			<label class="align-bottom">Address: </label>
			<span class="input">
				<input [(ngModel)]="payment.address" type="text" id="input-ziladdress" class="input__field input__field--madoka" spellcheck="false" autocomplete="off">
				<label class="input__label input__label--madoka" for="input-ziladdress">
					<svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
						<path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
					</svg>
				</label>
			</span>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col text-center">
			<label class="align-bottom">Amount: </label>
			<span class="input">
				<input [(ngModel)]="payment.amount" type="number" id="input-zilamount" class="input__field input__field--madoka">
				<label class="input__label input__label--madoka" for="input-zilamount">
					<svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
						<path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
					</svg>
				</label>
			</span>
		</div>
	</div>
	
	<div class="row mt-3">
		<div class="col text-center">
			<label class="align-bottom">Gas (ZIL): </label>
			<span class="input">
				<input [(ngModel)]="payment.gasLimit" type="number" id="input-zilgaslimit" class="input__field input__field--madoka">
				<label class="input__label input__label--madoka" for="input-zilgaslimit">
					<svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
						<path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
					</svg>
				</label>
			</span>
		</div>
	</div>

	<div class="row mt-1">
		<div class="col-md-6 ml-auto mr-auto text-center">
			<p>(current balance: {{wallet.balance}} ZIL)</p>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-md-3 col-sm-6 col-10 ml-auto mr-auto text-center">
			<div id="recaptcha" data-theme="dark" class="g-recaptcha" data-sitekey="6LfB808UAAAAABr8IkcXDwjj4_G6eRURtVgkj-i9"></div>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col text-center">
			<button class="btn btn-large zil-btn cursorHand" [disabled]="invalidPayment()" (click)="onSend()">Send</button>
		</div>
	</div>
</div>

<!-- send transaction flow #2 -->
<div *ngIf="state == 1">
	<div class="row mt-5">
		<div class="col ml-auto mr-auto text-center">
			<h4>Transaction ID : {{pendingTxId}}</h4>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-md-6 ml-auto mr-auto">
		  <span class="input-group-addon">Address: {{payment.address | uppercase}}</span>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-6 ml-auto mr-auto">
		  <span class="input-group-addon">Amount: {{payment.amount}}</span>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col text-center">
			<a class="btn zil-btn" routerLink="/wallet">Continue</a>
		</div>
	</div>
</div>

<!-- send transaction flow error #3 -->
<div *ngIf="state == 3">
	<div class="row mt-5">
		<div class="col ml-auto mr-auto text-center">
			<h4>Error in processing transaction.</h4>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col text-center">
			<a class="btn zil-btn" routerLink="/wallet">Continue</a>
		</div>
	</div>
</div>