<div class="row">
  <div class="col zblue text-white">
		<h2 class="text-center">Home</h2>
  </div>
</div>

<div class="row mt-5">
	<div class="col text-center">
		<h1> Welcome to the Zilliqa Wallet!</h1>
	</div>
</div>

<div class="row mt-5">
	<div class="col text-center">
		<a class="btn btn-large zil-btn" (click)="createWallet()">Get Started</a>
	</div>
</div>

<div class="row mt-5">
	<div class="col-md-6 ml-auto mr-auto text-center">
		<ul style="list-style-type: none; padding-left: 0px;">
			<li>The Zilliqa Wallet is free, open-source and runs entirely on your computer.</li>
			<br>
			<li class="warning"><h5>WARNING: This is a Zilliqa testnet. Please do not send any interim ERC-20 ZIL tokens to this wallet.</h5></li>
			<br>
			<li>We do not store your private key on our servers or transmit it over the network at any time. Private key generation and keystore encryption/decryption is handled on your computer only.</li>
			<br>
			<li>We recommend downloading and securely storing a keystore json file containing your encrypted private key, which can only be decrypted with a password you choose.</li>
			<br>
			<li>You are solely responsible for your account funds. If you lose your private key or the password to your keystore json, it cannot be recovered by anyone.</li>
		</ul>
	</div>
</div>
